@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<div class="container">
    <h1>Privacy</h1>
    <p>Il rispetto della tua privacy è una priorità per noi. Questa pagina descrive come raccogliamo, utilizziamo, proteggiamo e condividiamo le informazioni raccolte tramite il sito web della Polizia Municipale.</p>

    <h2>Raccolta delle informazioni</h2>
    <p>Raccogliamo informazioni personali solo quando ci vengono fornite volontariamente. Queste informazioni possono includere il tuo nome, indirizzo email, numero di telefono e altre informazioni necessarie per fornirti i nostri servizi.</p>

    <h2>Utilizzo delle informazioni</h2>
    <p>Le informazioni personali raccolte vengono utilizzate esclusivamente per fornirti i servizi richiesti e per comunicare con te in merito a tali servizi. Non utilizzeremo le tue informazioni per scopi di marketing senza il tuo consenso esplicito.</p>

    <h2>Protezione delle informazioni</h2>
    <p>Adottiamo misure di sicurezza per proteggere le informazioni personali dai rischi di accesso non autorizzato, modifica, divulgazione o distruzione. Queste misure includono la crittografia dei dati e controlli di accesso fisico e logico ai nostri sistemi.</p>

    <h2>Condivisione delle informazioni con terze parti</h2>
    <p>Non condividiamo le tue informazioni personali con terze parti senza il tuo consenso, tranne nei casi previsti dalla legge o quando riteniamo in buona fede che la divulgazione sia necessaria per proteggere i nostri diritti, la tua sicurezza o quella degli altri, indagare su frodi o rispondere a richieste governative.</p>

    <h2>Cookie</h2>
    <p>Utilizziamo i cookie per migliorare l'esperienza degli utenti sul nostro sito. I cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo quando visiti il nostro sito. Questi cookie ci aiutano a analizzare il traffico del sito, personalizzare i contenuti e gli annunci, fornire funzionalità dei social media e migliorare la tua esperienza complessiva di navigazione.</p>

    <h2>Modifiche alla nostra politica sulla privacy</h2>
    <p>Eventuali modifiche alla nostra politica sulla privacy verranno pubblicate in questa pagina. Ti consigliamo di controllare periodicamente questa pagina per eventuali aggiornamenti o modifiche alla nostra politica sulla privacy.</p>

    <h2>Contattaci</h2>
    <p>Se hai domande o dubbi riguardanti la nostra politica sulla privacy, non esitare a contattarci tramite i nostri canali di contatto forniti sul sito web.</p>
 </div>